Data/Ballenwerper_sync_380fps_006.npy_output_video.mp4
Data/Ballenwerper_sync_380fps_006.npychunk_0.mat
Data/Ballenwerper_sync_380fps_006.npychunk_2.mat
Data/Ballenwerper_sync_380fps_006.npychunk_3.mat
Data/Ballenwerper_sync_380fps_006.npychunk_4.mat
Data/Ballenwerper_sync_380fps_006.npychunk_5.mat
Data/Ballenwerper_sync_380fps_006.npychunk_6.mat
Data/Ballenwerper_sync_380fps_006.npychunk_7.mat
Data/Ballenwerper_sync_380fps_006.npychunk_8.mat
Data/Ballenwerper_sync_380fps_006.npychunk_9.mat
Data/Ballenwerper_sync_380fps_006.npy
Data/npy_video_arrays/Ballenwerper_sync_380fps_001.npy
Data/npy_video_arrays/Ballenwerper_sync_380fps_002.npy
Data/npy_video_arrays/Ballenwerper_sync_380fps_003.npy
Data/npy_video_arrays/Ballenwerper_sync_380fps_004.npy
Data/npy_video_arrays/Ballenwerper_sync_380fps_005.npy
Data/npy_video_arrays/Ballenwerper_sync_380fps_006.npy
Data/npy_video_arrays/Ballenwerper_sync_380fps_007.npy